@import "compass/css3";
/*---------------------------------------------------------------------------------------------
# Nzar Website fonts declarations
-----------------------------------------------------------------------------------------------*/
@import url("http://fonts.googleapis.com/css?family=Raleway:400,600,300");
@import url("http://fonts.googleapis.com/css?family=Josefin+Slab:100");

@font-face {
    font-family: 'karbon-medium';
    src: url('../fonts/karbon-medium/karbon-medium-webfont.eot');
    src: url('../fonts/karbon-medium/karbon-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karbon-medium/karbon-medium-webfont.woff') format('woff'),
         url('../fonts/karbon-medium/karbon-medium-webfont.ttf') format('truetype'),
         url('../fonts/karbon-medium/karbon-medium-webfont.svg#karbon-medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'karbonregular';
  src: url("../fonts/karbon/karbon-regular-webfont.eot");
  src: url("../fonts/karbon/karbon-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/karbon/karbon-regular-webfont.woff") format("woff"), url("../fonts/karbon/karbon-regular-webfont.ttf") format("truetype"), url("../fonts/karbon/karbon-regular-webfont.svg#karbonregular") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Conv_karbon-light';
  src: url('../fonts/karbon-light/karbon-light0.eot');
  src: local('☺'), url('../fonts/karbon-light/karbon-light0.woff') format('woff'), url('../fonts/karbon-light/karbon-light0.ttf') format('truetype'), url('../fonts/karbon-light/karbon-light0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*---------------------------------------------------------------------------------------------
# Nzar Website body styles
-----------------------------------------------------------------------------------------------*/


body{

    font-family: 'karbon-medium';
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.6rem;

}

.content{
	max-width: 1100px;
	margin: 0 auto;
}


/*---------------------------------------------------------------------------------------------
# Nzar Website header styles
-----------------------------------------------------------------------------------------------*/

header{

		.site-branding {
		float: left;
		margin: 0 -60% 0 0;
		width: 100%;
		height: 195px;
						a img{
							 margin-top: 30px;
						}
		}

		#site-navigation{
		float: right;
		overflow: hidden;
		width: 60%;
  		margin-top: 112px;

						.menu {
							    display: inline-block;
  								border-top: 1px solid #D2DADA;
  								border-bottom: 1px solid #D2DADA;
  								position: relative;
  								z-index: 100;

							   ul li a {
							   position: relative;
							   z-index: 10000;
							   text-transform: uppercase;
							   color: #fff;
							   font-size: 1.4rem;
							   font-size: 14px;
							   margin: 0;
					           padding: 0;
					           vertical-align: top;
							   display:inline-block;
					 		   -webkit-margin-before: 0em;
					  		   -webkit-margin-after: 0em;
					  		   padding: 7px 17px 7px 0px;

							   }
						}
		}

}



#slider{

  width: 111%;
  height: 506px;
 
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(-9deg);
  margin-top: -119px;
  position: absolute;
  left: -79px;
  background-color: #82d3f2;
  @include transition(background 4.4s linear);

}


/*---------------------------------------------------------------------------------------------
# Nzar Website Slider styles
-----------------------------------------------------------------------------------------------*/


#slider_main{

	position:relative;
	  margin-bottom: 80px;

			.heading{
				color: #fff;
				font-family: 'Conv_karbon-light';

			}
			.paragraph p{
				  color: #fff;
				  width: 43% !important;
				  display: inline-block;
				  font-family: 'karbonregular';
				  font-size: 1.4rem;
				  font-size: 14px;
				  line-height: 1.6em;
				  margin-top: 150px;
				  z-index: 10;
				  position: relative;
			}

	.tp-bullets{display:none;}


}

// ########################### slider colour themes ##############################
.dark-blue{

	background: #8acfef; /* Old browsers */
	background: -moz-linear-gradient(left,  #8acfef 0%, #71dcf7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#8acfef), color-stop(100%,#71dcf7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #8acfef 0%,#71dcf7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #8acfef 0%,#71dcf7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #8acfef 0%,#71dcf7 100%); /* IE10+ */
	background: linear-gradient(to right,  #8acfef 0%,#71dcf7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8acfef', endColorstr='#71dcf7',GradientType=1 ); /* IE6-9 */
  
}
.light-blue{

	background: #d5ade4; /* Old browsers */
	background: -moz-linear-gradient(left,  #d5ade4 0%, #9584c9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d5ade4), color-stop(100%,#9584c9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #d5ade4 0%,#9584c9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #d5ade4 0%,#9584c9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #d5ade4 0%,#9584c9 100%); /* IE10+ */
	background: linear-gradient(to right,  #d5ade4 0%,#9584c9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5ade4', endColorstr='#9584c9',GradientType=1 ); /* IE6-9 */
	 
}

/*---------------------------------------------------------------------------------------------
# Nzar Website intro styles
-----------------------------------------------------------------------------------------------*/

.intro{	

		  width: 100%;
		  max-width: 668px;
		  float: left;
		  display: inline-block;
		  padding-right: 52px;

		h1{

		font-family: 'Raleway',sans-serif;
		font-weight: 600;
		margin: 0px;
		font-size: 30px;
		text-align: center;

		&:before{

		content:"";
		width: 45px;
		height: 1px;
		background-color: #000;
		display: inline-block;

		}

		&:after{

		content:"";
		width: 45px;
		height: 1px;
		background-color: #000;
		display: inline-block;


		}



		}//end of the h1 tag

		span{
			
		  text-align: center;
		  display: block;
		  font-family: 'karbonregular';
		  font-size: 14px;
		  padding: 0px;
		  margin: 0px

		}
		p{

		font-family: 'karbonregular';
		font-size: 14px;

		}

}//end of the intro tag



.nzar_catgories{

				  float: left;

				.box{

					position: relative;
					max-width: 335px;
  					width: 100%;
  					margin-bottom: 22px;
				
				}

				.moreleft{
					margin-left: 111px;

				}

				.background{
					position: absolute;
				}

				.background_reverse{
					top:0px;
					right: 0px;

				}

				.curve_box{

					width: 100%;
				    border: 1px solid #b1b1b1;
				    height: 69px;
				    border-top-right-radius:40px;
				    border-bottom-right-radius:40px;
				    max-width: 335px;
  					width: 100%;
  					padding-top: 9px;
  					position: relative;
				    z-index: -10;
				    top: 20px;
				    padding-left: 71px;

				    	  h1{
				    	  margin: 0px;
						  font-family: 'Raleway',sans-serif;
						  font-size: 17px;
						  color: #000000;
						  font-weight: 300;
				    	  }

				    	  span{
				    	  	  color: #535353;
							  font-family: 'karbonregular';
							  font-size: 14px;
							  display: block;
							  margin-top: -7px;


				    	  }
				    .text{

				    	 float: left;

				    }

				    .reverse{

				    	text-align: right;
				    }
				    
				    .number_reverse{

				    	float: left;
				    }
				    .circle{

				    	  float: right;
						  width: 50px;
						  height: 50px;
						  background-color: white;
						  border: 1px dashed #000;
						  border-radius: 50%;
						  text-align: center;
						  padding-top: 20px;
						  margin-right: 9px;
  						
				    }
				}

				.reverse-box{

				 border-top-left-radius:40px;
				 border-bottom-left-radius:40px;
				 border-top-right-radius:0px;
				 border-bottom-right-radius:0px;
				 padding-left: 10px;

				}



}




/*---------------------------------------------------------------------------------------------
# Nzar Website intro styles
-----------------------------------------------------------------------------------------------*/

.intro{	

		  width: 100%;
		  max-width: 668px;
		  float: left;
		  display: inline-block;
		  padding-right: 52px;

		h1{

		font-family: 'Raleway',sans-serif;
		font-weight: 600;
		margin: 0px;
		font-size: 30px;
		text-align: center;

		&:before{

		content:"";
		width: 45px;
		height: 1px;
		background-color: #000;
		display: inline-block;

		}

		&:after{

		content:"";
		width: 45px;
		height: 1px;
		background-color: #000;
		display: inline-block;


		}



		}//end of the h1 tag

		span{
			
		  text-align: center;
		  display: block;
		  font-family: 'karbonregular';
		  font-size: 14px;
		  padding: 0px;
		  margin: 0px

		}
		p{

		font-family: 'karbonregular';
		font-size: 14px;

		}

}//end of the intro tag



.nzar_catgories{

				  float: left;

				.box{

					position: relative;
					max-width: 335px;
  					width: 100%;
  					margin-bottom: 22px;
				
				}

				.moreleft{
					margin-left: 111px;

				}

				.background{
					position: absolute;
				}

				.background_reverse{
					top:0px;
					right: 0px;

				}

				.curve_box{

					width: 100%;
				    border: 1px solid #b1b1b1;
				    height: 69px;
				    border-top-right-radius:40px;
				    border-bottom-right-radius:40px;
				    max-width: 335px;
  					width: 100%;
  					padding-top: 9px;
  					position: relative;
				    z-index: -10;
				    top: 20px;
				    padding-left: 71px;

					  h1{
					  margin: 0px;
						  font-family: 'Raleway',sans-serif;
						  font-size: 17px;
						  color: #000000;
						  font-weight: 300;
					  }

				    	  span{
				    	  	  color: #535353;
							  font-family: 'karbonregular';
							  font-size: 14px;
							  display: block;
							  margin-top: -7px;


				    	  }
				    .text{

				    	 float: left;

				    }

				    .reverse{

				    	text-align: right;
				    }
				    
				    .number_reverse{

				    	float: left;
				    }
				    .circle{

				    	  float: right;
						  width: 50px;
						  height: 50px;
						  background-color: white;
						  border: 1px dashed #000;
						  border-radius: 50%;
						  text-align: center;
						  padding-top: 20px;
						  margin-right: 9px;
  						
				    }
				}

				.reverse-box{

				 border-top-left-radius:40px;
				 border-bottom-left-radius:40px;
				 border-top-right-radius:0px;
				 border-bottom-right-radius:0px;
				 padding-left: 10px;

				}



}

/*---------------------------------------------------------------------------------------------
# Nzar Website home oure partners styles
-----------------------------------------------------------------------------------------------*/

#partners{
	background:#a0a0a0;
	color:#fff;
	padding-top:20px;
	padding-bottom:50px;
	min-height: 195px;
	.col-md-4{
		text-align:center;
		}
		}
.headding-2{
	position:relative;
	max-width:280px;
	margin:0 auto;



	h2{
		font-family: 'Raleway', sans-serif;
		font-weight:600;
		text-align:center;
		margin:0;margin-bottom:18px;
	}


	
	h2:before{
		content:"";
		height:1px;
		display:block;
		width:18.5%;
		background:#fff;
		position:absolute;
		bottom:5px;
		left:0;
	}
	
	h2:after{
		content:"";
		height:1px;
		display:block;
		width:18.5%;
		background:#fff;
		position:absolute;
		bottom:5px;
		right:0;
	}
	}

#feeds{color:#000;
	padding-top:22px;
	#home-news{background-image:url('../img/shadow.png');background-position:top right;background-repeat:no-repeat;}
	.col-md-6{padding-left:30px;
		padding-right:57px;
		padding-bottom: 57px;}
	h2{font-family:'Raleway',sans-serif;
	font-weight:600;
		margin-bottom:3px;
		margin-top:40px;}

	span{
		position:relative;
		display:inline-block;
		i:before{
			content:"";
			background:#000;
			width:47px;
			height:1px;
			position:absolute;
			display:block;}}

	.news-cont{
		padding-top:35px;
		}
	.news-img{
		display: inline-block;
		float: left;
		width:27%;
		img{
			margin-top:12px;
			}}
	.news-info{
		display: inline-block;
		width:73%;
		h4{
			display:inline-block;
			margin:0;
			width:45%;
			text-transform:uppercase;
			line-height: 1em;
			margin-top: 9px;
			font-family:'Raleway',sans-serif;
			font-weight:600;}

	span{
		display:inline-block;
		width:43px;
		height:24px;
		margin-top: -4px;
		text-align: right;
		border:1px solid #e7e7e7;
		padding:0px 5px;
		margin-right: 5px;
		i{
			color:#b6b6b6;
			font-family:'Raleway';
			font-weight:400;
			font-style:inherit;
			}}
	p{
		font-size: 0.75em;
		font-family:'karbon-medium';
		line-height: 1.1em;
		margin: 0;
		margin-top: 5px;
	}
	.icon-chat:before{top: 7px;width:19px;height:14px;background-color:#fff;background-image:url('../img/icons/icons.png');background-image:linear-gradient(transparent, transparent),url('../img/icons/icons.svg');background-position:0 0;background-repeat:no-repeat;content:"";}
	.icon-eye:before{top: 7px;width:16px;height:10px;background-color:#fff;background-image:url('../img/icons/icons.png');background-image:linear-gradient(transparent, transparent),url('../img/icons/icons.svg');background-position:0 -14px;background-repeat:no-repeat;content:"";}
	
}

.news-btn{
	margin-right:20px; 
	a{
		display:block;
		margin-left:70%;
		margin-top: 10px;
		text-align:center;
		padding: 3px;
		background:#f3f3f3;
		color:#000;
		text-decoration: none;
		border-radius: 8px;
		font-size: 1em;
		font-size: 0.8em;}}

#testamonials{
	padding-left:42px;
	.test-slider-div{
		padding-top:35px;
		}

// ########################### box slider main styles ##############################
	.bxslider{
		li{
			margin-left: -50px;
			margin-right:50px;
		}}

	.bx-wrapper{ 
		.bx-pager{
			text-align:left;  
			bottom: -48px;
			padding-top: 26px;
			border-top:1px solid #cfcfcf;
			a{
				width:14px;
				height: 14px;
				border-radius:50%;
				background:#c9c9c9;
			}
			a.active{
				@include background(radial-gradient(circle closest-side, #9b9b9b 0, #727272 100%));
				background-position: 50% 50%;
			}
		}
		.bx-viewport{
			border:none!important;
			box-shadow:none!important;
			-webkit-box-shadow:none!important;
			}}

//end of box slider main styles
	.box-header{
		padding-bottom:38px;
		
		img{
			width: 85px;
			height: 85px;
			border-radius:50%;
			}
			
			.slider-img{
				width:23.5%;
				display: inline-block;
				float: left;
			}
			.slider-header-name{
				width:76.5%;
				display: inline-block;

				h4{
					margin-top:25px;
					margin-bottom:0;
					line-height: 0.7em;
					font-family: 'Raleway';
					font-weight:600;
				}
				small{
					font-family:'karbon-medium';
				}
				}}
	.box-body{
		padding-top:40px;
		padding-bottom:38px;
		position: relative;
		border-top:1px solid #cfcfcf;
		
		p{
			margin:0;
			font-size:0.75em;
			line-height: 1.1em;}
	}
	.box-body:after, .box-body:before {
	bottom: 100%;
	left: 32%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.box-body:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 12px;
	margin-left: -12px;
}
.box-body:before {
	border-color: rgba(207, 207, 207, 0);
	border-bottom-color: #cfcfcf;
	border-width: 14px;
	margin-left: -14px;
}

  
}

}


.col-md-4{
	width:24.3333%;
	display:inline-block;
	float:left;
	}
.col-md-6{
	width:49.333%;
	display:inline-block;
	float:left;
	}

/*---------------------------------------------------------------------------------------------
# Nzar Website footer styles
-----------------------------------------------------------------------------------------------*/


footer{
	background:#cdcdcd;
	color:#000;
	text-align:left;
	
	.col-md-4{
		padding-left:25px;
		padding-top:82px;
		}
	ul{
		list-style:none;
		padding:0;
		margin:0;
		margin-bottom: 50px;
		
		li{ 
			line-height: 1.7em;
			a{
				color:#000;
				text-decoration:none;
				font-size: 0.7em;
				font-family: 'Raleway';
				font-weight: 600;
			}
			}}
	h6{
		margin:0;
		margin-bottom:6px;
		font-family:'Raleway';
		font-weight: 600;
		font-size: 0.85em;
		}

	p{
		font-family:'Raleway';
		font-weight: 600;
		font-size: 0.68em;
		line-height:1.2em;
		text-align:justify;
		margin-bottom:40px;
		margin-top:20px;
		}
	
	.newsletter{
		margin-top: 12px;
		margin-right: 20px;
		margin-bottom: 12px;

	}
	input[type="text"]{
		height:25px;
		border-radius:0;
		margin-bottom: 12px;}

	button{
		height:25px;
		width:73px;
		border-radius:0;
		background:#e7a016;
		color:#fff;
		box-shadow:none;
		text-shadow: none;
		font-family: 'karbon-medium';
		padding: 5px;
		font-size: 0.7em;
		@include transition(background-color 0.3s linear);
				
			&:hover{
			    box-shadow:none;
				text-shadow: none;
				background:#d2951f;
			}
		}
	
	.social{
		list-style: none;
		padding:0;
		margin-top: 10px;
		margin-bottom: 62px;
		li{	
		   	display: inline-block;
		   	margin-right: 5px;
		   	a{
		   		display: block;
		   		border-radius:50%;
		   		@include transition(background-color 0.3s linear);

				&:hover{
					background-color:#ddd;
				}
			}
		}
	}
	.icon-facebook{width:33px;height:33px;background-image:url('../img/icons/icons.png');background-image:linear-gradient(transparent, transparent),url('../img/icons/icons.svg');background-position:0 -24px;background-repeat:no-repeat;}
	.icon-google-plus{width:33px;height:33px;background-image:url('../img/icons/icons.png');background-image:linear-gradient(transparent, transparent),url('../img/icons/icons.svg');background-position:0 -57px;background-repeat:no-repeat;}
	.icon-twitter{width:33px;height:33px;background-image:url('../img/icons/icons.png');background-image:linear-gradient(transparent, transparent),url('../img/icons/icons.svg');background-position:0 -90px;background-repeat:no-repeat;}

	#footer-logo{
		text-align:right;

		img{
			margin-right: 27px;
		}
		}
}