@charset "UTF-8";
/*---------------------------------------------------------------------------------------------
# Nzar Website fonts declarations
-----------------------------------------------------------------------------------------------*/
@import url("http://fonts.googleapis.com/css?family=Raleway:400,600,300");
@import url("http://fonts.googleapis.com/css?family=Josefin+Slab:100");
@font-face {
  font-family: 'karbon-medium';
  src: url("../fonts/karbon-medium/karbon-medium-webfont.eot");
  src: url("../fonts/karbon-medium/karbon-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/karbon-medium/karbon-medium-webfont.woff") format("woff"), url("../fonts/karbon-medium/karbon-medium-webfont.ttf") format("truetype"), url("../fonts/karbon-medium/karbon-medium-webfont.svg#karbon-medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'karbonregular';
  src: url("../fonts/karbon/karbon-regular-webfont.eot");
  src: url("../fonts/karbon/karbon-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/karbon/karbon-regular-webfont.woff") format("woff"), url("../fonts/karbon/karbon-regular-webfont.ttf") format("truetype"), url("../fonts/karbon/karbon-regular-webfont.svg#karbonregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_karbon-light';
  src: url("../fonts/karbon-light/karbon-light0.eot");
  src: local("Γÿ║"), url("../fonts/karbon-light/karbon-light0.woff") format("woff"), url("../fonts/karbon-light/karbon-light0.ttf") format("truetype"), url("../fonts/karbon-light/karbon-light0.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*---------------------------------------------------------------------------------------------
# Nzar Website body styles
-----------------------------------------------------------------------------------------------*/
/* line 41, main.scss */
body {
  font-family: 'karbon-medium';
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

/* line 50, main.scss */
.content {
  max-width: 1100px;
  margin: 0 auto;
}

/*---------------------------------------------------------------------------------------------
# Nzar Website header styles
-----------------------------------------------------------------------------------------------*/
/* line 62, main.scss */
header .site-branding {
  float: left;
  margin: 0 -60% 0 0;
  width: 100%;
  height: 195px;
}
/* line 67, main.scss */
header .site-branding a img {
  margin-top: 30px;
}
/* line 72, main.scss */
header #site-navigation {
  float: right;
  overflow: hidden;
  width: 60%;
  margin-top: 112px;
}
/* line 78, main.scss */
header #site-navigation .menu {
  display: inline-block;
  border-top: 1px solid #D2DADA;
  border-bottom: 1px solid #D2DADA;
  position: relative;
  z-index: 100;
}
/* line 85, main.scss */
header #site-navigation .menu ul li a {
  position: relative;
  z-index: 10000;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.4rem;
  font-size: 14px;
  margin: 0;
  padding: 0;
  vertical-align: top;
  display: inline-block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  padding: 7px 17px 7px 0px;
}

/* line 108, main.scss */
#slider {
  width: 111%;
  height: 506px;
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(-9deg);
  margin-top: -119px;
  position: absolute;
  left: -79px;
  background-color: #82d3f2;
  -moz-transition: background 4.4s linear;
  -o-transition: background 4.4s linear;
  -webkit-transition: background 4.4s linear;
  transition: background 4.4s linear;
}

/*---------------------------------------------------------------------------------------------
# Nzar Website Slider styles
-----------------------------------------------------------------------------------------------*/
/* line 130, main.scss */
#slider_main {
  position: relative;
  margin-bottom: 80px;
}
/* line 135, main.scss */
#slider_main .heading {
  color: #fff;
  font-family: 'Conv_karbon-light';
}
/* line 140, main.scss */
#slider_main .paragraph p {
  color: #fff;
  width: 43% !important;
  display: inline-block;
  font-family: 'karbonregular';
  font-size: 1.4rem;
  font-size: 14px;
  line-height: 1.6em;
  margin-top: 150px;
  z-index: 10;
  position: relative;
}
/* line 153, main.scss */
#slider_main .tp-bullets {
  display: none;
}

/* line 159, main.scss */
.dark-blue {
  background: #8acfef;
  /* Old browsers */
  background: -moz-linear-gradient(left, #8acfef 0%, #71dcf7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #8acfef), color-stop(100%, #71dcf7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #8acfef 0%, #71dcf7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #8acfef 0%, #71dcf7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #8acfef 0%, #71dcf7 100%);
  /* IE10+ */
  background: linear-gradient(to right, #8acfef 0%, #71dcf7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8acfef', endColorstr='#71dcf7',GradientType=1 );
  /* IE6-9 */
}

/* line 171, main.scss */
.light-blue {
  background: #d5ade4;
  /* Old browsers */
  background: -moz-linear-gradient(left, #d5ade4 0%, #9584c9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #d5ade4), color-stop(100%, #9584c9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #d5ade4 0%, #9584c9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #d5ade4 0%, #9584c9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #d5ade4 0%, #9584c9 100%);
  /* IE10+ */
  background: linear-gradient(to right, #d5ade4 0%, #9584c9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5ade4', endColorstr='#9584c9',GradientType=1 );
  /* IE6-9 */
}

/*---------------------------------------------------------------------------------------------
# Nzar Website intro styles
-----------------------------------------------------------------------------------------------*/
/* line 188, main.scss */
.intro {
  width: 100%;
  max-width: 668px;
  float: left;
  display: inline-block;
  padding-right: 52px;
}
/* line 196, main.scss */
.intro h1 {
  font-family: 'Raleway',sans-serif;
  font-weight: 600;
  margin: 0px;
  font-size: 30px;
  text-align: center;
}
/* line 204, main.scss */
.intro h1:before {
  content: "";
  width: 45px;
  height: 1px;
  background-color: #000;
  display: inline-block;
}
/* line 214, main.scss */
.intro h1:after {
  content: "";
  width: 45px;
  height: 1px;
  background-color: #000;
  display: inline-block;
}
/* line 229, main.scss */
.intro span {
  text-align: center;
  display: block;
  font-family: 'karbonregular';
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}
/* line 239, main.scss */
.intro p {
  font-family: 'karbonregular';
  font-size: 14px;
}

/* line 250, main.scss */
.nzar_catgories {
  float: left;
}
/* line 254, main.scss */
.nzar_catgories .box {
  position: relative;
  max-width: 335px;
  width: 100%;
  margin-bottom: 22px;
}
/* line 263, main.scss */
.nzar_catgories .moreleft {
  margin-left: 111px;
}
/* line 268, main.scss */
.nzar_catgories .background {
  position: absolute;
}
/* line 272, main.scss */
.nzar_catgories .background_reverse {
  top: 0px;
  right: 0px;
}
/* line 278, main.scss */
.nzar_catgories .curve_box {
  width: 100%;
  border: 1px solid #b1b1b1;
  height: 69px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  max-width: 335px;
  width: 100%;
  padding-top: 9px;
  position: relative;
  z-index: -10;
  top: 20px;
  padding-left: 71px;
}
/* line 293, main.scss */
.nzar_catgories .curve_box h1 {
  margin: 0px;
  font-family: 'Raleway',sans-serif;
  font-size: 17px;
  color: #000000;
  font-weight: 300;
}
/* line 301, main.scss */
.nzar_catgories .curve_box span {
  color: #535353;
  font-family: 'karbonregular';
  font-size: 14px;
  display: block;
  margin-top: -7px;
}
/* line 310, main.scss */
.nzar_catgories .curve_box .text {
  float: left;
}
/* line 316, main.scss */
.nzar_catgories .curve_box .reverse {
  text-align: right;
}
/* line 321, main.scss */
.nzar_catgories .curve_box .number_reverse {
  float: left;
}
/* line 325, main.scss */
.nzar_catgories .curve_box .circle {
  float: right;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px dashed #000;
  border-radius: 50%;
  text-align: center;
  padding-top: 20px;
  margin-right: 9px;
}
/* line 340, main.scss */
.nzar_catgories .reverse-box {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 10px;
}

/*---------------------------------------------------------------------------------------------
# Nzar Website intro styles
-----------------------------------------------------------------------------------------------*/
/* line 361, main.scss */
.intro {
  width: 100%;
  max-width: 668px;
  float: left;
  display: inline-block;
  padding-right: 52px;
}
/* line 369, main.scss */
.intro h1 {
  font-family: 'Raleway',sans-serif;
  font-weight: 600;
  margin: 0px;
  font-size: 30px;
  text-align: center;
}
/* line 377, main.scss */
.intro h1:before {
  content: "";
  width: 45px;
  height: 1px;
  background-color: #000;
  display: inline-block;
}
/* line 387, main.scss */
.intro h1:after {
  content: "";
  width: 45px;
  height: 1px;
  background-color: #000;
  display: inline-block;
}
/* line 402, main.scss */
.intro span {
  text-align: center;
  display: block;
  font-family: 'karbonregular';
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}
/* line 412, main.scss */
.intro p {
  font-family: 'karbonregular';
  font-size: 14px;
}

/* line 423, main.scss */
.nzar_catgories {
  float: left;
}
/* line 427, main.scss */
.nzar_catgories .box {
  position: relative;
  max-width: 335px;
  width: 100%;
  margin-bottom: 22px;
}
/* line 436, main.scss */
.nzar_catgories .moreleft {
  margin-left: 111px;
}
/* line 441, main.scss */
.nzar_catgories .background {
  position: absolute;
}
/* line 445, main.scss */
.nzar_catgories .background_reverse {
  top: 0px;
  right: 0px;
}
/* line 451, main.scss */
.nzar_catgories .curve_box {
  width: 100%;
  border: 1px solid #b1b1b1;
  height: 69px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  max-width: 335px;
  width: 100%;
  padding-top: 9px;
  position: relative;
  z-index: -10;
  top: 20px;
  padding-left: 71px;
}
/* line 466, main.scss */
.nzar_catgories .curve_box h1 {
  margin: 0px;
  font-family: 'Raleway',sans-serif;
  font-size: 17px;
  color: #000000;
  font-weight: 300;
}
/* line 474, main.scss */
.nzar_catgories .curve_box span {
  color: #535353;
  font-family: 'karbonregular';
  font-size: 14px;
  display: block;
  margin-top: -7px;
}
/* line 483, main.scss */
.nzar_catgories .curve_box .text {
  float: left;
}
/* line 489, main.scss */
.nzar_catgories .curve_box .reverse {
  text-align: right;
}
/* line 494, main.scss */
.nzar_catgories .curve_box .number_reverse {
  float: left;
}
/* line 498, main.scss */
.nzar_catgories .curve_box .circle {
  float: right;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px dashed #000;
  border-radius: 50%;
  text-align: center;
  padding-top: 20px;
  margin-right: 9px;
}
/* line 513, main.scss */
.nzar_catgories .reverse-box {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 10px;
}

/*---------------------------------------------------------------------------------------------
# Nzar Website home oure partners styles
-----------------------------------------------------------------------------------------------*/
/* line 531, main.scss */
#partners {
  background: #a0a0a0;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 50px;
  min-height: 195px;
}
/* line 537, main.scss */
#partners .col-md-4 {
  text-align: center;
}

/* line 541, main.scss */
.headding-2 {
  position: relative;
  max-width: 280px;
  margin: 0 auto;
}
/* line 548, main.scss */
.headding-2 h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 0;
  margin-bottom: 18px;
}
/* line 557, main.scss */
.headding-2 h2:before {
  content: "";
  height: 1px;
  display: block;
  width: 18.5%;
  background: #fff;
  position: absolute;
  bottom: 5px;
  left: 0;
}
/* line 568, main.scss */
.headding-2 h2:after {
  content: "";
  height: 1px;
  display: block;
  width: 18.5%;
  background: #fff;
  position: absolute;
  bottom: 5px;
  right: 0;
}

/* line 580, main.scss */
#feeds {
  color: #000;
  padding-top: 22px;
}
/* line 582, main.scss */
#feeds #home-news {
  background-image: url("../img/shadow.png");
  background-position: top right;
  background-repeat: no-repeat;
}
/* line 583, main.scss */
#feeds .col-md-6 {
  padding-left: 30px;
  padding-right: 57px;
  padding-bottom: 57px;
}
/* line 586, main.scss */
#feeds h2 {
  font-family: 'Raleway',sans-serif;
  font-weight: 600;
  margin-bottom: 3px;
  margin-top: 40px;
}
/* line 591, main.scss */
#feeds span {
  position: relative;
  display: inline-block;
}
/* line 594, main.scss */
#feeds span i:before {
  content: "";
  background: #000;
  width: 47px;
  height: 1px;
  position: absolute;
  display: block;
}
/* line 602, main.scss */
#feeds .news-cont {
  padding-top: 35px;
}
/* line 605, main.scss */
#feeds .news-img {
  display: inline-block;
  float: left;
  width: 27%;
}
/* line 609, main.scss */
#feeds .news-img img {
  margin-top: 12px;
}
/* line 612, main.scss */
#feeds .news-info {
  display: inline-block;
  width: 73%;
}
/* line 615, main.scss */
#feeds .news-info h4 {
  display: inline-block;
  margin: 0;
  width: 45%;
  text-transform: uppercase;
  line-height: 1em;
  margin-top: 9px;
  font-family: 'Raleway',sans-serif;
  font-weight: 600;
}
/* line 625, main.scss */
#feeds .news-info span {
  display: inline-block;
  width: 43px;
  height: 24px;
  margin-top: -4px;
  text-align: right;
  border: 1px solid #e7e7e7;
  padding: 0px 5px;
  margin-right: 5px;
}
/* line 634, main.scss */
#feeds .news-info span i {
  color: #b6b6b6;
  font-family: 'Raleway';
  font-weight: 400;
  font-style: inherit;
}
/* line 640, main.scss */
#feeds .news-info p {
  font-size: 0.75em;
  font-family: 'karbon-medium';
  line-height: 1.1em;
  margin: 0;
  margin-top: 5px;
}
/* line 647, main.scss */
#feeds .news-info .icon-chat:before {
  top: 7px;
  width: 19px;
  height: 14px;
  background-color: #fff;
  background-image: url("../img/icons/icons.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/icons.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
}
/* line 648, main.scss */
#feeds .news-info .icon-eye:before {
  top: 7px;
  width: 16px;
  height: 10px;
  background-color: #fff;
  background-image: url("../img/icons/icons.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/icons.svg");
  background-position: 0 -14px;
  background-repeat: no-repeat;
  content: "";
}
/* line 652, main.scss */
#feeds .news-btn {
  margin-right: 20px;
}
/* line 654, main.scss */
#feeds .news-btn a {
  display: block;
  margin-left: 70%;
  margin-top: 10px;
  text-align: center;
  padding: 3px;
  background: #f3f3f3;
  color: #000;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1em;
  font-size: 0.8em;
}
/* line 667, main.scss */
#feeds #testamonials {
  padding-left: 42px;
}
/* line 669, main.scss */
#feeds #testamonials .test-slider-div {
  padding-top: 35px;
}
/* line 675, main.scss */
#feeds #testamonials .bxslider li {
  margin-left: -50px;
  margin-right: 50px;
}
/* line 681, main.scss */
#feeds #testamonials .bx-wrapper .bx-pager {
  text-align: left;
  bottom: -48px;
  padding-top: 26px;
  border-top: 1px solid #cfcfcf;
}
/* line 686, main.scss */
#feeds #testamonials .bx-wrapper .bx-pager a {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #c9c9c9;
}
/* line 692, main.scss */
#feeds #testamonials .bx-wrapper .bx-pager a.active {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9ImNpcmNsZSIgY3k9ImNsb3Nlc3Qtc2lkZSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzliOWI5YiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzcyNzI3MiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-radial-gradient(circle closest-side, #9b9b9b 0%, #727272 100%);
  background: -webkit-radial-gradient(circle closest-side, #9b9b9b 0%, #727272 100%);
  background: radial-gradient(circle closest-side, #9b9b9b 0%, #727272 100%);
  background-position: 50% 50%;
}
/* line 697, main.scss */
#feeds #testamonials .bx-wrapper .bx-viewport {
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
/* line 704, main.scss */
#feeds #testamonials .box-header {
  padding-bottom: 38px;
}
/* line 707, main.scss */
#feeds #testamonials .box-header img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
/* line 713, main.scss */
#feeds #testamonials .box-header .slider-img {
  width: 23.5%;
  display: inline-block;
  float: left;
}
/* line 718, main.scss */
#feeds #testamonials .box-header .slider-header-name {
  width: 76.5%;
  display: inline-block;
}
/* line 722, main.scss */
#feeds #testamonials .box-header .slider-header-name h4 {
  margin-top: 25px;
  margin-bottom: 0;
  line-height: 0.7em;
  font-family: 'Raleway';
  font-weight: 600;
}
/* line 729, main.scss */
#feeds #testamonials .box-header .slider-header-name small {
  font-family: 'karbon-medium';
}
/* line 733, main.scss */
#feeds #testamonials .box-body {
  padding-top: 40px;
  padding-bottom: 38px;
  position: relative;
  border-top: 1px solid #cfcfcf;
}
/* line 739, main.scss */
#feeds #testamonials .box-body p {
  margin: 0;
  font-size: 0.75em;
  line-height: 1.1em;
}
/* line 744, main.scss */
#feeds #testamonials .box-body:after, #feeds #testamonials .box-body:before {
  bottom: 100%;
  left: 32%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 755, main.scss */
#feeds #testamonials .box-body:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 12px;
  margin-left: -12px;
}
/* line 761, main.scss */
#feeds #testamonials .box-body:before {
  border-color: rgba(207, 207, 207, 0);
  border-bottom-color: #cfcfcf;
  border-width: 14px;
  margin-left: -14px;
}

/* line 774, main.scss */
.col-md-4 {
  width: 24.3333%;
  display: inline-block;
  float: left;
}

/* line 779, main.scss */
.col-md-6 {
  width: 49.333%;
  display: inline-block;
  float: left;
}

/*---------------------------------------------------------------------------------------------
# Nzar Website footer styles
-----------------------------------------------------------------------------------------------*/
/* line 790, main.scss */
footer {
  background: #cdcdcd;
  color: #000;
  text-align: left;
}
/* line 795, main.scss */
footer .col-md-4 {
  padding-left: 25px;
  padding-top: 82px;
}
/* line 799, main.scss */
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}
/* line 805, main.scss */
footer ul li {
  line-height: 1.7em;
}
/* line 807, main.scss */
footer ul li a {
  color: #000;
  text-decoration: none;
  font-size: 0.7em;
  font-family: 'Raleway';
  font-weight: 600;
}
/* line 815, main.scss */
footer h6 {
  margin: 0;
  margin-bottom: 6px;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 0.85em;
}
/* line 823, main.scss */
footer p {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 0.68em;
  line-height: 1.2em;
  text-align: justify;
  margin-bottom: 40px;
  margin-top: 20px;
}
/* line 833, main.scss */
footer .newsletter {
  margin-top: 12px;
  margin-right: 20px;
  margin-bottom: 12px;
}
/* line 839, main.scss */
footer input[type="text"] {
  height: 25px;
  border-radius: 0;
  margin-bottom: 12px;
}
/* line 844, main.scss */
footer button {
  height: 25px;
  width: 73px;
  border-radius: 0;
  background: #e7a016;
  color: #fff;
  box-shadow: none;
  text-shadow: none;
  font-family: 'karbon-medium';
  padding: 5px;
  font-size: 0.7em;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
/* line 857, main.scss */
footer button:hover {
  box-shadow: none;
  text-shadow: none;
  background: #d2951f;
}
/* line 864, main.scss */
footer .social {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 62px;
}
/* line 869, main.scss */
footer .social li {
  display: inline-block;
  margin-right: 5px;
}
/* line 872, main.scss */
footer .social li a {
  display: block;
  border-radius: 50%;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
/* line 877, main.scss */
footer .social li a:hover {
  background-color: #ddd;
}
/* line 883, main.scss */
footer .icon-facebook {
  width: 33px;
  height: 33px;
  background-image: url("../img/icons/icons.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/icons.svg");
  background-position: 0 -24px;
  background-repeat: no-repeat;
}
/* line 884, main.scss */
footer .icon-google-plus {
  width: 33px;
  height: 33px;
  background-image: url("../img/icons/icons.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/icons.svg");
  background-position: 0 -57px;
  background-repeat: no-repeat;
}
/* line 885, main.scss */
footer .icon-twitter {
  width: 33px;
  height: 33px;
  background-image: url("../img/icons/icons.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/icons.svg");
  background-position: 0 -90px;
  background-repeat: no-repeat;
}
/* line 887, main.scss */
footer #footer-logo {
  text-align: right;
}
/* line 890, main.scss */
footer #footer-logo img {
  margin-right: 27px;
}
