<?php

include_once "../config/header.php";



include_once "../config/db.class.php";

if (!isset($_SESSION['username'])) {
 
   redirect('signin.php?cat=seek');
      
}

			if (isset($_GET['id'])){
			$id=$_GET['id'];
			
			}

			if (isset($_GET['approve'])){
			$approve=$_GET['approve'];
			if ($approve=="yes"){
			
			$query=("UPDATE user_info SET active='1' WHERE id='$id'");
			$data = mysql_query($query) 
			or die(mysql_error()); 
			}
			}
			if (isset($_GET['delete'])){
			$delete=$_GET['delete'];
			if ($delete=="yes"){
			
			$query=("DELETE FROM user_info WHERE id='$id'");
			
			$data = mysql_query($query) 
			or die(mysql_error());
			
			}
			}
			if (isset($_GET['id'])){
			$id=$_GET['id'];
			}
			
			
				
			
			$data = mysql_query("SELECT * FROM user_info WHERE id='$id'") 
			or die(mysql_error()); 
			while($info = mysql_fetch_array( $data )) {
				$basic_info= ($info['basic_info']);
				
					$basic_info_array= explode('|',$basic_info );
					if ( ! isset($basic_info)) {//removing the offset error
					$basic_info = null;
					}
					?>
					<div class="container ">
					<div class="row">
					<div class="col-md-12">
					<?php
					if (!isset($_GET['org'])){
					?>
					<a href="admin.php" type="button" class="btn btn-primary btn-lg">New Cvs</a>
					<a href="admin.php?id=active" type="button" class="btn btn-default btn-lg">Approved Cvs</a>
					<?php		
					}
					?>
			
					
					<div class='row top_head'><div class='col-md-3 '><h2 class="" >CV ID <strong>:<?php echo $id ?></strong></h2></div>
					
					<?php
					
					if (!isset($_GET['org'])){
					?>
				
					
					<?php
					if ($info['active']==1){
					?>
					
						 <div class='col-md-3 h1_head_sub'><a href='cv_gen.php?delete=yes&id=<?php echo $id ?>' type="submit" id="approve" class="btn btn-danger">Delete</a></div>
					<?php
					}
					else
					{
					?>
					 <div class='col-md-3 h1_head_sub'><a href='cv_gen.php?approve=yes&id=<?php echo $id ?>' type="submit" id="approve" class="btn btn-success">Approve</a></div>
					  <div class='col-md-3 h1_head_sub'><a href='cv_gen.php?delete=yes&id=<?php echo $id ?>' type="submit" id="approve" class="btn btn-danger">Delete</a></div>
					
		
					<?php
					}
					}
					?>
					</div>
					
					<div class="row">
					<div class="col-md-2">
					<img src="<?php echo "files/".$info['pic_info']?>" alt="..." class="img-thumbnail" width="100px" height="100px">
					</div>
					<div class="col-md-9 extra_margin">
					<?php
					$apply_positions= ($info['cat']);
			
					
					echo "<div class='col-md-3'>";
					echo "<p>Positions</p>";
					echo "</div>";
					echo "<div class='col-md-9'>";
					echo "<p>:".$apply_positions."</p>";
					echo "</div>";
				
					
					echo "<div class='col-md-3'>";
					echo "<p>Preferred Job Area</p>";
					echo "</div>";
					echo "<div class='col-md-9'>";
					echo "<p>:".$basic_info_array[6]."</p>";
					echo "</div>";
					
					if (isset($_GET['jobseek'])){
						
							if (!$info['cv_info']==""){
					
						if (!isset($_GET['jobseek'])){
						?>
					<div class='col-md-3 h1_head_sub'><a class="btn btn-success" href="<?php echo "files/".$info['cv_info']?>" target="_blank">Original Cv</a></div><div class='col-md-9'></div>
					<?php
					}

					}
					else{
					?>
					<div class='col-md-3 h1_head_sub'><a class="btn btn-success">Cv not found</a></div><div class='col-md-9'></div>
					<?php
					}
					}

						if (isset($_GET['org'])){

							?>
							<div class='col-md-3 h1_head_sub'><a class="btn btn-success" href="<?php echo "files/".$info['cv_info']?>" target="_blank">Original Cv</a></div><div class='col-md-9'></div>
							<?php

						}
					
					if (!isset($_GET['org'])){

					if (!$info['cv_info']==""){
					
						if (!isset($_GET['jobseek'])){
						?>
					<div class='col-md-3 h1_head_sub'><a class="btn btn-success" href="<?php echo "files/".$info['cv_info']?>" target="_blank">Original Cv</a></div><div class='col-md-9'></div>
					<?php
					}

					}
					else{
					?>
					<div class='col-md-3 h1_head_sub'><a class="btn btn-success">Cv not found</a></div><div class='col-md-9'></div>
					<?php
					}
					}
					?>
					</div>
					</div>
					</div>
					
					
			<?php
					

					echo "<div class='row cv_head'><div class='col-md-4 h1_head'>Personal Information</div><div class='col-md-4 h1_head_sub'></div><div class='col-md-4 h1_head_sub' ></div></div>";
					echo "<div class='row'>";
					echo "<div class='col-md-4'>";
					echo "<p>Name</p>";
					echo "</div>";
					echo "<div class='col-md-8'>";
					echo "<p>:".$basic_info_array[0]."</p>";
					echo "</div>";
					echo "</div>";
						
					echo "<div class='row'>";
					echo "<div class='col-md-4'>";
					echo "<p>Date Of Birth</p>";
					echo "</div>";
					echo "<div class='col-md-8'>";
					echo "<p>:".$basic_info_array[1]."</p>";
					echo "</div>";
					echo "</div>";
					
					echo "<div class='row'>";
					echo "<div class='col-md-4'>";
					echo "<p>Sex</p>";
					echo "</div>";
					echo "<div class='col-md-8'>";
					echo "<p>:".$basic_info_array[2]."</p>";
					echo "</div>";
					echo "</div>";
					
					echo "<div class='row'>";
					echo "<div class='col-md-4'>";
					echo "<p>Married Status</p>";
					echo "</div>";
					echo "<div class='col-md-8'>";
					echo "<p>:".$basic_info_array[3]."</p>";
					echo "</div>";
					echo "</div>";
					
					echo "<div class='row'>";
					echo "<div class='col-md-4'>";
					echo "<p>Nationality</p>";
					echo "</div>";
					echo "<div class='col-md-8'>";
					echo "<p>:".$basic_info_array[4]."</p>";
					echo "</div>";
					echo "</div>";
					
					
					echo "<div class='row'>";
					echo "<div class='col-md-4'>";
					echo "<p>Preferred Salary</p>";
					echo "</div>";
					echo "<div class='col-md-8'>";
					echo "<p>:".$basic_info_array[5]."</p>";
					echo "</div>";
					echo "</div>";
					
					
					
					
					if (!isset($_GET['org'])){
					echo "<div class='row'>";
					echo "<div class='col-md-4'>";
					echo "<p>Contact No</p>";
					echo "</div>";
					echo "<div class='col-md-8'>";
					echo "<p>:".$basic_info_array[7]."</p>";
					echo "</div>";
					echo "</div>";
					
					echo "<div class='row'>";
					echo "<div class='col-md-4'>";
					echo "<p>Address</p>";
					echo "</div>";
					echo "<div class='col-md-8'>";
					echo "<p>:".$basic_info_array[8]."</p>";
					echo "</div>";
					echo "</div>";
					
					echo "<div class='row'>";
					echo "<div class='col-md-4'>";
					echo "<p>Email Address</p>";
					echo "</div>";
					echo "<div class='col-md-8'>";
					echo "<p>:".$basic_info_array[9]."</p>";
					echo "</div>";
					echo "</div>";
					
												
					}
					
					echo "<div class='row'>";
					echo "<div class='col-md-4'>";
					echo "<p>Contact No</p>";
					echo "</div>";
					echo "<div class='col-md-8'>";
					echo "<p>:".$basic_info_array[7]."</p>";
					echo "</div>";
					echo "</div>";
					
					echo "<div class='row'>";
					echo "<div class='col-md-4'>";
					echo "<p>Address</p>";
					echo "</div>";
					echo "<div class='col-md-8'>";
					echo "<p>:".$basic_info_array[8]."</p>";
					echo "</div>";
					echo "</div>";
					
					echo "<div class='row'>";
					echo "<div class='col-md-4'>";
					echo "<p>Email Address</p>";
					echo "</div>";
					echo "<div class='col-md-8'>";
					echo "<p>:".$basic_info_array[9]."</p>";
					echo "</div>";
					echo "</div>";
					
												
					
				
			
					
					?>

       					<div class='row cv_head'><div class='col-md-4 h1_head'>O/L Information</div><div class='col-md-8 h1_head_sub'>Grade</div></div>
      	
<?php	
					$string= ($info['ol_info']);
					$array3= explode(',',$string );
					foreach($array3 as $info3) {
					if ($info3==":")
					{
					}else{
						
					
					$array_each_sub= explode(':',$info3 );
				
					if ( ! isset($array_each_sub[0])) {
					$array_each_sub[0] = null;
					}
					if ( ! isset($array_each_sub[1])) {
					$array_each_sub[1] = null;
					}
					
					if (!$info3==""){
					echo "<div class='row'>";
					echo "<div class='col-md-4'>";
					echo "<p>".$array_each_sub[0]."</p>";
					echo "</div>";
					echo "<div class='col-md-8'>";
					echo "<p>:".$array_each_sub[1]."</p>";
					echo "</div>";
					echo "</div>";
					}
					}
					
					}
				
					
?>

					<div class='row cv_head'><div class='col-md-4 h1_head'>A/L Information</div><div class='col-md-8 h1_head_sub'>Grade</div></div>
<?php
				
					
					
					$string= ($info['al_info']);
					$array3= explode(',',$string );
					foreach($array3 as $info3) {
					if ($info3==":")
					{
					}else{
						
					
					$array_each_sub= explode(':',$info3 );
				
					if ( ! isset($array_each_sub[0])) {
					$array_each_sub[0] = null;
					}
					if ( ! isset($array_each_sub[1])) {
					$array_each_sub[1] = null;
					}
					
					if (!$info3==""){
					echo "<div class='row'>";
					echo "<div class='col-md-4'>";
					echo "<p>".$array_each_sub[0]."</p>";
					echo "</div>";
					echo "<div class='col-md-8'>";
					echo "<p>:".$array_each_sub[1]."</p>";
					echo "</div>";
					echo "</div>";
					}
					}
					
					}
					

					echo "<div class='row cv_head'><div class='col-md-4 h1_head'>Higher Education</div><div class='col-md-4 h1_head_sub'></div><div class='col-md-4 h1_head_sub' ></div></div>";
					$string1= ($info['pro_info']);
					$proinfo= explode(',',$string1 );
					
					foreach($proinfo as $sin_pro) {
					
					
					$array_each_sub = explode(':',$sin_pro );
					
					if ( ! isset($array_each_sub[0])) {
					$array_each_sub[0] = null;
					}
					if ( ! isset($array_each_sub[1])) {
					$array_each_sub[1] = null;
					}
					if ( ! isset($array_each_sub[2])) {
					$array_each_sub[2] = null;
					}
					if ( ! isset($array_each_sub[3])) {
					$array_each_sub[3] = null;
					}
					
					echo "<div class='row'>";
					echo "<div class='col-md-2'>";
					echo "<p>".$array_each_sub[0]."</p>";
					echo "</div>";
					echo "<div class='col-md-4'>";
					echo "<p>".$array_each_sub[1]."</p>";
					echo "</div>";
				
					echo "<div class='col-md-4'>";
					echo "<p>".$array_each_sub[2]."</p>";
					echo "</div>";
					
					echo "<div class='col-md-1'>";
					echo "<p>".$array_each_sub[3]."</p>";
					echo "</div>";
					
					
					if (isset($array_each_sub[4])){
					echo "<div class='col-md-1'>";
				
					echo "<p>".$array_each_sub[4]."</p>";
					echo "</div>";
					}
					
					echo "</div>";
					
					
					}
					
		
					echo "<div class='row cv_head'><div class='col-md-4 h1_head'>Language Skills</div><div class='col-md-4 h1_head_sub'></div><div class='col-md-4 h1_head_sub' ></div></div>";
					$os=array();
					$string1= ($info['lan_info']);
					$proinfo= explode(',',$string1 );
					foreach($proinfo as $sin_pro) {
					$os[]=$sin_pro;
					}
					
				
?>
					<div class="table-responsive">
        <table class="table lang table-bordered">
          <thead>
            <tr>
              <th>Language</th>
              <th>Speaking</th>
              <th>Reading</th>
              <th>Writing</th>
              <th>Listening</th>
              <th>Letter Writing</th>
              <th>Article Writing</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>English</th>
              <td name="ES" <?php if (in_array("ES", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="ER" <?php if (in_array("ER", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="EW" <?php if (in_array("EW", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="EL" <?php if (in_array("EL", $os)){echo "class='greenDiv'"; } ?> </td>
				<td name="ELW" <?php if (in_array("ELW", $os)){echo "class='greenDiv'"; } ?> </td>
				<td name="EAW" <?php if (in_array("EAW", $os)){echo "class='greenDiv'"; } ?> </td>
			
             
            </tr>
            <tr>
              <th>Sinhala</th>
              <td name="SS" <?php if (in_array("SS", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="SR" <?php if (in_array("SR", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="SW" <?php if (in_array("SW", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="SL" <?php if (in_array("SL", $os)){echo "class='greenDiv'"; } ?> </td>
				<td name="SLW" <?php if (in_array("SLW", $os)){echo "class='greenDiv'"; } ?> </td>
				<td name="SAW" <?php if (in_array("SAW", $os)){echo "class='greenDiv'"; } ?> </td>
            </tr>
            <tr>
              <th>Tamil</th>
             <td name="TS" <?php if (in_array("TS", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="TR" <?php if (in_array("TR", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="TW" <?php if (in_array("TW", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="TL" <?php if (in_array("TL", $os)){echo "class='greenDiv'"; } ?> </td>
				<td name="TLW" <?php if (in_array("TLW", $os)){echo "class='greenDiv'"; } ?> </td>
				<td name="TAW" <?php if (in_array("TAW", $os)){echo "class='greenDiv'"; } ?> </td>
            </tr>
			<tr>
              <th>Arabic</th>
            <td name="AS" <?php if (in_array("AS", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="AR" <?php if (in_array("AR", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="AW" <?php if (in_array("AW", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="AL" <?php if (in_array("AL", $os)){echo "class='greenDiv'"; } ?> </td>
				<td name="ALW" <?php if (in_array("ALW", $os)){echo "class='greenDiv'"; } ?> </td>
				<td name="AAW" <?php if (in_array("AAW", $os)){echo "class='greenDiv'"; } ?> </td>
            </tr>
			<tr>
              <th>Hindi</th>
             <td name="HS" <?php if (in_array("HS", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="HR" <?php if (in_array("HR", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="HW" <?php if (in_array("HW", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="HL" <?php if (in_array("HL", $os)){echo "class='greenDiv'"; } ?> </td>
				<td name="HLW" <?php if (in_array("HLW", $os)){echo "class='greenDiv'"; } ?> </td>
				<td name="HAW" <?php if (in_array("HAW", $os)){echo "class='greenDiv'"; } ?> </td>
            </tr>
			<tr>
              <th>Urudu</th>
              <td name="US" <?php if (in_array("US", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="UR" <?php if (in_array("UR", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="UW" <?php if (in_array("UW", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="UL" <?php if (in_array("UL", $os)){echo "class='greenDiv'"; } ?> </td>
				<td name="ULW" <?php if (in_array("ULW", $os)){echo "class='greenDiv'"; } ?> </td>
				<td name="UAW" <?php if (in_array("UAW", $os)){echo "class='greenDiv'"; } ?> </td>
            </tr>
			<tr>
              <th>French</th>
             <td name="US" <?php if (in_array("US", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="UR" <?php if (in_array("UR", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="UW" <?php if (in_array("UW", $os)){echo "class='greenDiv'"; } ?> </td>
			  <td name="UL" <?php if (in_array("UL", $os)){echo "class='greenDiv'"; } ?> </td>
				<td name="ULW" <?php if (in_array("ULW", $os)){echo "class='greenDiv'"; } ?> </td>
				<td name="UAW" <?php if (in_array("UAW", $os)){echo "class='greenDiv'"; } ?> </td>
            </tr>
          </tbody>
        </table>
		</div>
<?php

					 echo "<div class='row cv_head'><div class='col-md-4 h1_head'> Computer Skills</div><div class='col-md-4 h1_head_sub'>Grade</div><div class='col-md-4 h1_head_sub' >Years</div></div>";
					
					$string1= ($info['com_info']);
					$proinfo= explode(',',$string1 );
					//echo ($info['pro_info']);
					//print_r ($al_subs);
					foreach($proinfo as $sin_pro) {
				
					$skills= explode(':',$sin_pro );
					if ( ! isset($skills[0])) {
					$skills[0] = null;
					}
					if ( ! isset($skills[1])) {
					$skills[1] = null;
					}
					if ( ! isset($skills[2])) {
					$skills[2] = null;
					}
					
					echo "<div class='row'>";
					echo "<div class='col-md-4'>";
					echo "<p>".$skills[0]."</p>";
					echo "</div>";
					echo "<div class='col-md-4'>";
					echo "<p>".$skills[1]."</p>";
					echo "</div>";
					echo "<div class='col-md-4'>";
					echo "<p>".$skills[2]."</p>";
					echo "</div>";
					echo "</div>";
					
					}

					echo "<div class='row cv_head'><div class='col-md-4 h1_head'>Work  Experience</div><div class='col-md-4 h1_head_sub'>Position</div><div class='col-md-4 h1_head_sub' >Years</div></div>";
					$string1= ($info['wok_info']);
					$proinfo= explode(',',$string1 );
				
					foreach($proinfo as $sin_pro) {
					$skills= explode(':',$sin_pro );
					if ( ! isset($skills[0])) {
					$skills[0] = null;
					}
					if ( ! isset($skills[1])) {
					$skills[1] = null;
					}
					if ( ! isset($skills[2])) {
					$skills[2] = null;
					}
					echo "<div class='row'>";
					echo "<div class='col-md-4'>";
					echo "<p>".$skills[0]."</p>";
					echo "</div>";
					echo "<div class='col-md-4'>";
					echo "<p>".$skills[1]."</p>";
					echo "</div>";
				
					echo "<div class='col-md-4'>";
					echo "<p>".$skills[2]."</p>";
					echo "</div>";
					echo "</div>";
					
					
					}
					echo "<div class='row cv_head'><div class='col-md-4 h1_head'>Driving Skills</div><div class='col-md-4 h1_head_sub'></div><div class='col-md-4 h1_head_sub' ></div></div>";
				
					$string1= ($info['drive_info']);
					$proinfo= explode(',',$string1 );
					//echo ($info['pro_info']);
					//print_r ($al_subs);
					foreach($proinfo as $sin_pro) {
					echo $sin_pro."<br />";
					
					
					}

					echo "<div class='row cv_head'><div class='col-md-4 h1_head'>Suburbs knowledge</div><div class='col-md-4 h1_head_sub'></div><div class='col-md-4 h1_head_sub' ></div></div>";
					$string1= ($info['city_info']);
					$proinfo= explode(',',$string1 );
					//echo ($info['pro_info']);
					//print_r ($al_subs);
					foreach($proinfo as $sin_pro) {
					echo $sin_pro."<br />";
					
					
					}

					?>
			<div class="form-group">
				  <label for="comment">Comment:</label>
				  <textarea class="form-control status_text" rows="40" id=""><?php echo $info['cv_status']; ?></textarea>
				</div>


				<button id='approve_status' class=" btn btn-primary btn-lg" role="button">Add Status</button>
			<?php 
				}
				?>



			
			</div>
					<script>
				$(document).ready(function() {

				$('#approve_status').click(function(){

					var status_cv = $('.status_text').val();
					

				$.ajax({
								type:"post",
								url:"appprove_status.php",
								data: {
									id: <?php echo $_GET['id']; ?> ,
									status:status_cv
									},
								success: function(data) {
								alert('Cv status updated' );
								//console.log(data); // "something"
								//$link="upload_info.php?id="+idofurl;
								//window.location.href = $link;
								}
							});
				});


				$('#approve').click(function(){

				$.ajax({
								type:"post",
								url:"approve.php",
								data: {
									id:$id
									},
								success: function(data) {
								//console.log(data); // "something"
								//$link="upload_info.php?id="+idofurl;
								//window.location.href = $link;
								}
							});
				});
			});
		</script>
			
</div>
</div>

<?php
include_once "../config/footer.php";
?>