<div id="slider">
<ul id= 'sevenslider'>

	

<li data-transition="fade" data-slotamount="7" data-masterspeed="500" >
					
					<!-- LAYERS -->
					<!-- LAYER NR. 1 -->
					<div class="tp-caption  skewfromrightshort fadeout"
						data-x="270"
						data-y="100"
						data-speed="500"
						data-start="1200"
						data-easing="Power4.easeOut">
						<p>ruchora ruchora 1</p>
					</div>
					<div class="tp-caption  skewfromrightshort fadeout"
						data-x="630"
						data-y="280"
						data-speed="500"
						data-start="1900"
						data-easing="Power4.easeOut"><a href="http://chembase.lk/high-achivers/"><img src="<?php echo get_template_directory_uri();?>/img/logo-nzar.png" alt=""></a>
					</div>
				
</li>

<li data-transition="fade" data-slotamount="7" data-masterspeed="500" >
					
					<!-- LAYERS -->
					<!-- LAYER NR. 1 -->
					<div class="tp-caption  skewfromrightshort fadeout"
						data-x="270"
						data-y="100"
						data-speed="500"
						data-start="1200"
						data-easing="Power4.easeOut">
						<p>ruchora ruchora 2</p>
					</div>
					<div class="tp-caption  skewfromrightshort fadeout"
						data-x="630"
						data-y="280"
						data-speed="500"
						data-start="1900"
						data-easing="Power4.easeOut"><a href="http://chembase.lk/high-achivers/"><img src="<?php echo get_template_directory_uri();?>/img/logo-nzar.png" alt=""></a>
					</div>
				
</li>
<li data-transition="fade" data-slotamount="7" data-masterspeed="500" >
					
					<!-- LAYERS -->
					<!-- LAYER NR. 1 -->
					<div class="tp-caption  skewfromrightshort fadeout"
						data-x="270"
						data-y="100"
						data-speed="500"
						data-start="1200"
						data-easing="Power4.easeOut">
						<p>ruchora ruchora 3</p>
					</div>
					<div class="tp-caption  skewfromrightshort fadeout"
						data-x="630"
						data-y="280"
						data-speed="500"
						data-start="1900"
						data-easing="Power4.easeOut"><a href="http://chembase.lk/high-achivers/"><img src="<?php echo get_template_directory_uri();?>/img/logo-nzar.png" alt=""></a>
					</div>
				
</li>
</ul>

<div class='navi'>

	<span class='pre'>prev</span>
	<span class='next'>next</span>

	
</div>
</div>

<script>
(function($) { 

$(document).ready(function() {
/*------------------------------------------------------
Sevensigns slider plugin
Author : Ruchira cooray
Website :Sevensigns.lk
phone Number : 071-0621267
------------------------------------------------------*/

// ########################################################


// add two classes
// divvisible - which will overwirte the visibility hidden css style
// active - this class is used to get the current slide



$('#sevenslider li').eq(0).addClass('divvisible active');


autoplay ();

// get the number of slides in the slider

var number_of_slides = $('#sevenslider li').length ;

	$(".navi .next").click(function(){
    
    //run the next function to go to the next slider 

    next();

	});

	$(".navi .pre").click(function(){

	//run the prev function to go to the previous slider 
	prev();

	});

function next(){



//get the cuurent index of the slide
		var current_index = $('.active').index()+1;

//check if the cuurent slide is equal to the number of slides 

		
		if ( current_index != number_of_slides ){
		$('.active').removeClass('divvisible ');
		$('.active').next().addClass('divvisible active');
		$('.divvisible').prev().removeClass('active');




	}

// if equal run this part

	else{

		$('#sevenslider li').eq(number_of_slides-1).removeClass('divvisible active');
		$('#sevenslider li').eq(0).addClass('divvisible active');
	}

};

function prev(){

//get the cuurent index of the slide
		var current_index = $('.active').index()+1;

		
		if ( current_index != 1 ){
		$('.active').removeClass('divvisible ');
		$('.active').prev().addClass('divvisible active');
		$('.divvisible').next().removeClass('active');

	}
	else{

		$('#sevenslider li').eq(number_of_slides-1).addClass('divvisible active');
		$('#sevenslider li').eq(0).removeClass('divvisible active');
		

	}

};


function autoplay () {

	setInterval(function(){ 

	next();

	}, 5000);

}

	
});

})(jQuery);



</script>

<style type="text/css" media="screen">

.divvisible{

	visibility: visible !important;
}
.divhidden{
visibility: hidden !important;

}


.active div {}
.fadeout{


}

#slider_main{
position: relative;
height: 200px;
}

#sevenslider{
margin:0px;
list-style: none;
}

#sevenslider li{
  float: left;
  background-color: rgb(213, 213, 226);
  width: 980px;
  position: absolute;
  right: 0px;
  left: 0px;
  margin: 0 auto;
  visibility: hidden;
		
}	

.navi{
  position: absolute;
  bottom: 5px;
}


</style>